@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import "../../../variables.scss";
.mat-card {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 30%;
  max-height: 75%;
}
p.about-me {
  i {
    font-size: 12px;
  }
  font-size: 15px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  color: rgb(88, 88, 88);
}
.other{
  font-family: 'Roboto Slab';
  font-size: 14px;
  font-weight: bold;
  color: rgb(46, 46, 46);
  p span {
    color: rgb(104, 104, 104);
  }
}
iframe {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 600px) {
  .mat-card {
    max-width: 95%;
  }
  .other{
    font-size: 11px;
    font-weight: bold;
    color: $dark-gray;
    p span {
      color: $light-gray;
    }
  }
}

////////////
