<mat-card [@flip] = 'showState'>
  <img mat-card-image src="assets/cover.png" width="200px" />
  <img src="assets/ndm.jpg" class="avatar" alt="avatar" width="150px;" />
  <mat-card-content>
    <h1 class="text-center">Najmedine Mannaii</h1>
    <p class="text-center mt-0">Computer Science Engineering Student</p>
    <div class="social-media">
      <a mat-icon-button><i class="fa fa-linkedin-square"></i></a>
      <a mat-icon-button><i class="fa fa-facebook-square"></i></a>
      <a mat-icon-button><i class="fa fa-github-square"></i></a>
    </div>
  </mat-card-content>
  <div class="row card-action">
    <button mat-button class="col-6">Download CV <i class="fa fa-download ml-1"></i></button>
    <button mat-button class="col-6">Contact <i class="fa fa-paper-plane"></i></button>
  </div>
</mat-card>
