
@import "../../../../variables.scss";

.mat-toolbar {
  height: 4.5em;
  background-color: $dark-blue;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  height: 100%;
  font-size: 1em;
  font-weight: 400;
  margin-top: 1.5em;
}
img {
  position: absolute;
  top: .4em;
  width: 8rem;
}
.is-active {
  color: $light-blue;
}
@media screen and (max-width: 600px) {
  .mat-toolbar {
    height: 3.5em;
    background-color: $dark-blue;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  .spacer {
    position: absolute;
    left: 0;
    top: 4rem;
    background-color: $dark-blue;
    width: 100%;
  }
  a {
    color: white;
    text-decoration: none;
    height: 100%;
    font-size: .7rem;
    font-weight: 500;
    margin-top: 0;
  }
}
/////////////////////
