@import '~@angular/material/theming';
@import './variables.scss';
@include mat-core();

$my-portfolio-primary: mat-palette($mat-cyan, A700);
$my-portfolio-accent:  mat-palette($mat-green, 600, 100, A700);
$my-portfolio-warn: mat-palette($mat-deep-orange);

$my-portfolio-theme: mat-light-theme($my-portfolio-primary, $my-portfolio-accent, $my-portfolio-warn);
@include angular-material-theme($my-portfolio-theme);
